<div class="pure-g">
  <div class="pure-u-1-1">
    <h1><%= @page&.title %></h1>

    <% @page&.sections&.order(:position).each do |section| %>
      <%= section.content.html_safe %>
    <% end %>

    <script>
      <% ad_removal_script = "$('li.juicer-ad').css('cssText', 'display: none !important;'); $('h1.referral').css('cssText', 'display: none !important;')" %>
      setTimeout(function(){ <%= ad_removal_script.html_safe %> }, 300);
    </script>
  </div>
</div>
