// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  h1 {
    text-align: center;
  }

  #header {
    margin: 1em 0;
    display: inline-block;
  }

  nav {
    position: fixed;
    z-index: 2;
    width: inherit;

    ul {
      width: inherit;
      padding: 0;
      margin: 0;
      border: none;
      background: white;
      position: fixed;
      display: none;
      list-style-type: none;

      li {
        height: 64px;
        font-size: 35px;
        align-items: center;
        display: flex;
      }

      a {
        text-decoration: none;
        display:        flex;
        flex-grow:      1;
        flex-shrink:    1;
        justify-content: center;
      }
    }

    .hamburger-container {
      text-align: right;

      button {
        background: white;
      }
    }
  }

  #content {
    font-size: 22px;
    padding: 6% 8.35% 1%;
    min-height: 480px;

    h1 {
      margin-bottom: 30px;
    }

    .section {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  button:focus {
    outline: 0;
  }

  p {
    line-height: 1.5;
    text-align: justify;
  }

  .field {
    padding-bottom: 2%;

    input, textarea {
      margin-top: 1%;
      width: 100%;
      color: black;
      padding: 12px;
      border: 1px solid black;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    input:focus, textarea:focus {
      outline: none !important;
    }

    input {
      height: 40px;
    }

    textarea {
      height: 108px;
      border-color: #d8d8d8;
    }
  }

  .actions {
    text-align: center;

    input[type='submit'] {
      height: 50px;
      width: 120px;
      border: none;
      background: black;
      color: white;
    }
  }

  .music_snippet {
    margin: 0 auto;
  }
}

div {
  .section:not(:last-of-type) {
    margin-bottom: 50px;
    padding-bottom: 25px;
  }

  .section:last-of-type {
    margin-bottom: 25px;
  }

  .image-container {
    text-align: center;
    padding: 0;
    margin: -4px 0 0 0;

    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

#logo {
  h1 {
    font-size: 75px;
  }
}

.logo-image {
  width: 10em;
  height: 10em;
}

#title h1 {
  margin: 0;
}

.post-content {
  display: none;
}

.post:hover {
  cursor: pointer;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 48em) {
  .page-margin {
    display: none;
  }

  ul {
    width: 100% !important;
  }
}
