// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  padding-top: 4%;
}

body {

  #footer {
    position: absolute;
    width: inherit;
    padding: 1%;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 25.5%;
  }

  nav {
    position: fixed;
    width: inherit;
    z-index: 4;

    ul {
      width: inherit;
      padding: 0;
      margin: 0;
      padding-bottom: 3%;
      border: none;
      background: white;
      position: fixed;
      display: none;
      list-style-type: none;

      li {
        height: 84px;
        font-size: 200%;
        align-items: center;
        display: flex;
        letter-spacing: 4px;
      }

      a:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
        display:        flex;
        flex-grow:      1;
        flex-shrink:    1;
        justify-content: center;
      }
    }

    .hamburger-container {
      text-align: right;

      button {
        background: white;
      }
    }
  }

  h1#title {
    width: 52%;
    float: left;
    margin: 0;
    padding: 16.5px 20px;
    text-align: center;
    letter-spacing: 6px;
  }

  .logo-image {
    height: 363px;
    width: 363px;
    margin-left: calc(100% - 363px);
  }

  #content {
    font-size: 16px;
    text-align: center;
    padding-top: 14%;

    h1 {
      font-size: 25px;
    }

    .section {
      align-items: center;
      justify-content: center;
    }
  }

  button:focus {
    outline: 0;
  }

  p {
    line-height: 1.5;
    text-align: justify;
  }

  .field {
    padding-bottom: 2%;

    input, textarea {
      margin: 2% 0;
      width: 100%;
      padding: 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    input:focus, textarea:focus {
      outline: none !important;
    }

    input {
      height: 50px;
    }

    textarea {
      height: 108px;
    }
  }

  .actions {
    text-align: center;

    input[type='submit'] {
      height: 50px;
      width: 120px;
      border: none;
      background: black;
      color: white;
    }
  }

  .music_snippet {
    margin: 0 auto;
  }
}

div {
  .section:not(:last-of-type) {
    margin-bottom: 50px;
    padding-bottom: 25px;
  }

  .section:last-of-type {
    margin-bottom: 25px;
  }

  .image-container {
    text-align: center;
    padding: 0;
    margin: -5px 0 0 0;

    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.post-content {
  display: none;
}

.post:hover {
  cursor: pointer;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    padding: 0;
  }

  .page-margin {
    display: none;
  }

  #content {
    margin: 10% 2%;
  }

  h1#title {
    letter-spacing: normal !important;
  }
}
